* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    display: flex;
    background-image: url('/img/nen-desktop-dep.jpg');
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .2);
    width: 420px;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.title {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #dbdbdb;
}

.wrapper .input-box {
    width: 80%;
    height: 50px;
    margin: 30px;
    position: relative;
    padding-left: 12px;
    border-bottom: 1px solid #dbdbdb;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: #fff0;
    border: none;
    outline: none;
    font-size: 15px;
    color: #ccc8c8;
}

input::placeholder {
    color: #f1dbdb;
}

.input-box i {
  position: absolute;
  top: 33%;
  left: -3%;
}


button {
    margin-top: 22px;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;
    color: white;
    border: none;
    background-color: #00a2ff;
    cursor: pointer;
}