* {
    box-sizing: border-box;
    position: 0px;
    margin: 0px auto;
}

*:focus {
    outline: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* For mobile phones: */

[class*="col-"] {
    width: 100%;
    float: left;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}
/* ------ header ----*/
.header {
    width: 100%;
    height: 50px;
    background-color: #111d24;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header h1 {
    color: #ccc;
    margin: 40px;
    line-height: 48px;
    margin-left: 3rem;
}

.header .icon {
    color: white;
    text-align: center;
    display: none;
    font-size: 25px;
    margin: 8px 16px;
}

.header .icon:hover {
    color: cyan;
}

@media screen and (max-width: 1023px) {
    .main .category {
        display: none;
    }

    .header a.icon {
        float: left;
        display: block;
    }
}
h1 {
    display: initial;
}

.header .icon {
    color: white;
    text-align: center;
    display: none;
    font-size: 25px;
    margin: 8px 16px;
}

.header .icon:hover {
    color: cyan;
}

@media screen and (max-width: 1023px) {
    .main .category {
        display: none;
    }

    .header a.icon {
        float: left;
        display: block;
    }
}

.main .row .bx-left {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 0px;
}

.main .row .bx-left ul {
    width: 100%;
    left: 0px;
    padding-left: 20px;
    position: absolute;
}

.main .row .bx-left ul li {
    list-style: none;
    position: relative;
    font-size: 18px;
    line-height: 30px;
}

.main .row .bx-left li {
    padding: 8px 8px 8px 0px;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.main .row .bx-left li:hover {
    color: white;
}

.main .row .bx-left .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 24px;
    margin-left: 50px;
    color: #818181;
}

.main .row .bx-left .closebtn:hover {
    color: white;
}

.header .box-login {
    color: white;
    font-size: 14px;
    border-left: 1px solid;
    padding: 15.5px 10px;
    width: auto;
    float: right;
    cursor: pointer;
}

.header .box-login .box-login-bottom {
    height: auto;
    width: auto;
    display: none;
    position: fixed;
    top: 50px;
    right: 0px;
}

.header .box-login .box-login-bottom button {
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    background-color: #0483cc;
    color: white;
    font-size: 10px;
    cursor: pointer;
}

.header .box-login .box-login-bottom button:hover {
    background-color: #295a77;
}


#box-t:hover #box-b {
    display: block;
}

.main .row .category button {
    display: block;
    background-color: #f3f3f3;
    color: black;
    padding: 20px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
}

.main .row .category button:hover {
    background-color: #ddd;
    border-right: 3px solid #0c0e0f;
}

.main .row .category button.active {
    background-color: #ccc;
    border-right: 3px solid #050809;
}


.tabcontent {}




.main .row .content .tabcontent .row .padding-box input,
select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
}


.row .tabcontent {
    padding: 12px;
}

.tabcontent .row {
    margin-top: 12px;
}

.button_option {
    margin: 14px;
    height: 12px;
    width: 100%;
}
.button_option button {
   

}


/* table */
table,
td,
th {
    border: 1px solid rgb(184, 179, 179);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    
    height: 20px;
  padding: 15px;
  text-align: left;
}
td {
    padding: 3px 15px;
}


.selected-page {
    background-color: #007bff;
    color: #fff;
}