<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chu</title>
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="./js/angular.min.js"></script>
    <script src="./js/home.js"></script>
    <!-- <script src="./js/global.js"></script>-->
</head>
<script src="./js/hienthi.js"></script>

<body ng-app="AppBanHang" ng-controller="HomeCtrl">
    <!--Header-->
    <script >addHeader()</script>

    <!-- slider + news-->
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <img src="./img/shirt1.png" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="./img/shirt2.png" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="./img/shirt3.png" style="width:100%">
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                </div>
            </div>

            <div class="col-2">
                <div class="sidebar">
                    <h3>Tin tuc</h3>
                    <div class="sidebar__news">
                        <img src="" alt="">
                        <p style="font-size:12px;">Mô tả: Use case cho phép nhân viên thực hiện các thao tác với...</p>
                    </div>
                    <div class="sidebar__news">
                        <img src="" alt="">
                        <p style="font-size:12px;">Mô tả: Use case cho phép nhân viên thực hiện các thao tác với...</p>
                    </div>
                    <div class="sidebar__news">
                        <img src="" alt="">
                        <p style="font-size:12px;">Mô tả: Use case cho phép nhân viên thực hiện các thao tác với...</p>
                    </div>
                    <div class="sidebar__news">
                        <img src="" alt="">
                        <p style="font-size:12px;">Mô tả: Use case cho phép nhân viên thực hiện các thao tác với...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- --banner--- -->
    <img src="https://d36urhup7zbd7q.cloudfront.net/b/1652194041523.gif" alt="" style="width: 100%; height: 72px;
  object-fit: cover; margin: 32px 0;">
    <br>

    <h1 style="text-align:center; margin: 12px auto;">Sản phẩm</h1>
    <div class="container">
        <div class="row">

            <div class="col-2">
                <div class="sidebar">
                    <h2><i style="padding-right: 5px;" class="fa-solid fa-bars"></i>Danh mục</h2>
                    <ul class="category-menu">
                        <li ng-click="getIndex(6)"><a href="#">Tat ca</a></li>
                        <li ng-click="getIndex(1)"><a href="#">Best Seller</a></li>
                        <li ng-click="getIndex(2)"><a href="#">Re nhat</a></li>
                        <li ng-click="getIndex(3)"><a href="#">Apple</a></li>
                        <li ng-click="getIndex(4)"><a href="#">Ao</a></li>
                        <!-- Thêm các mục danh mục khác nếu cần -->
                    </ul>

                </div>
            </div>
            <div class="col-10">
                <!-- Phần bên trái (8 cột) - Chứa sản phẩm -->
                <div class="row">
                    <!-- <div class="loading col-2-5">
                            <div class="product-card">
                                <div class="img">
                                <img src="./img/bg.png" alt="">
                                <a href="#">
                                    <h5>Iphone</h5>
                                </a>
                                <div><span>$299</span><button>+</button></div>
                            </div>
                        </div> -->
                    <!-- <div class="col-2-5" ng-repeat="x in products" ng-click="viewProductDetails(x)">
                            <a href="product_detail.html?id={{x.maSanPham}}">
                                <div class="product-card" >
                                    <div class="img">
                                        <img src="{{ x.anhDaiDien }}" alt="{{ x.name }}">
                                    </div>
                                    <a href="#">
                                        <h5 class="text">{{ x.tenSanPham }}</h5>
                                    </a>
                                    <div><span>{{ x.gia }}</span><button>+</button></div>
                                </div>
                            </a>
                        </div> -->
                    <div class="col-2-5" ng-repeat="x in products">
                        <a class="home-product-item" href="product_detail.html?id={{x.maSanPham}}">
                            <div class="home-product-item__img" style="
                                 background-image: url({{x.anhDaiDien}});"></div>
                            <h4 class="home-product-item__name">
                                {{ x.tenSanPham }}
                            </h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">200.000$</span>
                                <span class="home-product-item__price-now">{{x.gia}} VNĐ</span>
                            </div>

                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-null far fa-heart" aria-hidden="true"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart" aria-hidden="true"></i>
                                </span>
                                <div class="home-product-item__sold">Còn hàng: {{x.soLuong}}</div>
                            </div>

                            <div class="home-product-item__origin">
                                <span class="home-product-item__brand">{{x.luotXem}} luot xem</span>
                                <button>+</button>
                            </div>

                            <div class="home-product-item__fav">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                <span>Yeu thich</span>
                            </div>
                        </a>
                    </div>
                    <!-- <div class="loading col-2-5">
                            <div class="product-card">
                                <div class="img">
                                    <img src="./img/bg.png" alt="">
                                </div>
                                <a href="#">
                                    <h5 class="text">Iphone</h5>
                                </a>
                                <div><span>$299</span><button>+</button></div>
                            </div>
                        </div> -->
                </div>
                <!-- <div class="pagination_wrap">
                        <ul class="pagination">
                            <li><a href="#">Trang trước</a></li>
                            <li><a class="active href=" #">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">Trang sau</a></li>
                        </ul>
                    </div> -->
            </div>

        </div>
    </div>

    <footer style="
                background-color: #333; 
                color: #fff;
                text-align: center;
                padding: 10px 0;
                margin-top: 54px; 
            ">
        <p>&copy; 2023 NTA Store. All rights reserved.</p>
    </footer>
</body>

<script>
    var links = document.querySelectorAll(".category-menu li");

        for (var i = 0; i < links.length; i++) {
            links[i].addEventListener("click", function (e) {
                e.preventDefault(); // Ngăn chặn mặc định hành vi điều hướng khi nhấp vào liên kết

                // Loại bỏ lớp 'active' từ tất cả các liên kết
                links.forEach(function (link) {
                    link.classList.remove("active");
                });

                // Thêm lớp 'active' vào liên kết được nhấp
                this.classList.add("active");
            });
        }
    //---------------------slider--------------------------
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides((slideIndex += n));
    }

    function currentSlide(n) {
        showSlides((slideIndex = n));
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");

        if (n > slides.length) {
            slideIndex = 1;
        }

        if (n < 1) {
            slideIndex = slides.length;
        }

        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        slides[slideIndex - 1].style.display = "block";
    }
</script>

</html>